<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="WaitStandart" value="60000"></parameter>
    <test verbose="2" preserve-order="true" name="C:/Users/k.melnikov/IdeaProjects/KM">
    <classes>
        <class name="Tests.Setup" />
          <class name="Tests.Login"></class>
           <class name="Tests.CreateLKO"></class>
           <class name="Tests.ChangeLKO"></class>
           <class name="Tests.UploadPacket"/>
          <class name="Tests.SettingAccounts"></class>
          <class name="Tests.Entry999"></class>
         <class name="Tests.LoadPayments"></class>
          <class name="Tests.SettingsKD"></class>
        <class name="Tests.OperationsFL"></class>
        <class name="Tests.Rezerv_RVI"></class>
        <class name="Tests.CreditCards"></class>
       <class name="Tests.OperationsUL"></class>
       <class name="Tests.Cessions"></class>
       <class name="Tests.Sudebka"></class>
         <class name="Tests.ServiserBank"></class>
        <!-- <class name="Tests.CreateKd2018"></class> -->
    </classes>
</test>
</suite>